<div id="d-titulo">
  &nbsp;&nbsp;<label id=l-titulo><%= @titulo.html_safe %></label>
  <!--
  &nbsp;&nbsp;&nbsp;
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" style="margin-bottom: 4px;height: 30px;width: 30px;min-width: 30px;" onclick="gridExport('xlsx')">
    <i class="material-icons" style="font-size: 22px">archive</i>
  </button>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" style="margin-bottom: 4px;height: 30px;width: 30px;min-width: 30px;" onclick="gridExport('pdf')">
    <i class="material-icons" style="font-size: 22px">picture_as_pdf</i>
  </button>
  -->

  &nbsp;
  <% unless @nim_bus_lock %>
    <select id="bus-sel" title="Plantilla" onchange="busSel()">
      <% @sel.each {|k, v| %>
        <optgroup label="<%= k %>">
          <% v.each {|f| %>
            <option value="<%= f %>"><%= f.split('/')[-1][0..-5] %></option>
          <% } %>
        </optgroup>
      <% } %>
    </select>

    <% if @views.size > 1 %>
      &nbsp;
      <select id="view-sel" title="Vista" onchange="viewSel()">
        <% @views.each {|v| %>
          <option value="<%= v %>"><%= nt(v) %></option>
        <% } %>
      </select>
    <% end %>
  <% end %>

  <button id="bus-menu" class="mdl-button mdl-js-button mdl-button-icon" style="margin-bottom: 10px;height: 30px;width: 30px;min-width: 30px;">
    <i class="material-icons" style="color: #ffffff; font-size: 22px">more_vert</i>
  </button>
  <ul class="mdl-menu mdl-js-menu" for="bus-menu">
    <li class="mdl-menu__item" onclick="busNew()"><i class="material-icons">crop_portrait</i>Nueva</li>
    <li class="mdl-menu__item" onclick="busSave()"><i class="material-icons">save</i>Guardar</li>
    <li class="mdl-menu__item" onclick="resetFiltros()"><i class="material-icons">filter_list</i>Borrar filtros</li>
    <li class="mdl-menu__item" onclick="busPref()"><i class="material-icons">favorite_border</i>Predeterminar</li>
    <li class="mdl-menu__item" onclick="busDel()"><i class="material-icons">delete</i>Eliminar</li>
    <li class="mdl-menu__item" onclick="gridExport('xlsx')"><i class="material-icons">grid_on</i>Excel</li>
    <li class="mdl-menu__item" onclick="gridExport('pdf')"><i class="material-icons">picture_as_pdf</i>PDF</li>
    <% if @help %>
    <li class="mdl-menu__item" onclick="busHelp()"><i class="material-icons">help</i>Ayuda</li>
    <% end %>
  </ul>
  <% if @tipo_bus.starts_with?('mant') %>
  <div id="d-no-cerrar" title="Activar/Desactivar la visibilidad permanente de la ventana">
    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="no_cerrar">
      <input type="checkbox" id="no_cerrar" class="mdl-switch__input"<%= @tipo_bus[-1] == '*' ? ' checked' : '' %>>
      <i class="material-icons mdl-switch__label">visibility</i>
    </label>
    </div>
  <% end %>
</div>
<div id="tree-campos"> </div>
<div id="d-grid"> </div>

<% if @help %>
<div id="dialog-help" style="display: none">
  <%= render @help %>
</div>
<% end %>

<div id="dialog-save" style="display: none">
  <label>Nombre del archivo:</label>
  <input id="inp-save"/>
</div>

<div id="dialog-del" style="display: none">
  <label>¿Desea eliminar la búsqueda actual?</label>
</div>

<div id="dialog-pref" style="display: none">
  <label>
    Ha elegido usar esta búsqueda como predeterminada.<br>
    Se usará la versión actualmente grabada,<br>
    si hay cambios sin grabar no se tendrán en cuenta.<br>
    <br>
    ¿Desea continuar?
  </label>
</div>

<div id="menu-r" class="nim-context-menu">
  <ul class="nim-context-menu-ul">
    <li class="nim-context-menu-li" onClick="delColumna()"><i class="material-icons c-bajo">delete_outline</i>Eliminar columna</li>
  </ul>
</div>

<script>
  <%= @ajax.html_safe %>
  usuCod = "<%= @usu.codigo %>";
  modelo = "<%= @mod %>";
</script>
