<div id="d-titulo" class="titulo" style="background-color: #512DA8"></div>
<div class="titulo">
  <button title="Configuración" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" style="margin-bottom: 4px;height: 28px;width: 28px;min-width: 28px;" onclick="$('#config').dialog('open')">
    <i class="gi-img-button material-icons">settings</i>
  </button>
  <button title="Rupturas" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" style="margin-bottom: 4px;height: 28px;width: 28px;min-width: 28px;" onclick="$('#rupturas').dialog('open')">
    <i class="gi-img-button material-icons">storage</i>
  </button>
  <button title="Límites" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" style="margin-bottom: 4px;height: 28px;width: 28px;min-width: 28px;" onclick="$('#lim').dialog('open')">
    <i class="gi-img-button material-icons">code</i>
  </button>
  <button title="Estilos" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" style="margin-bottom: 4px;height: 28px;width: 28px;min-width: 28px;" onclick="$('#estilos').dialog('open')">
    <i class="gi-img-button material-icons">color_lens</i>
  </button>
  <button title="Fórmulas" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" style="margin-bottom: 4px;height: 28px;width: 28px;min-width: 28px;" onclick="$('#formulas').dialog('open')">
    <i class="gi-img-button material-icons">functions</i>
  </button>
  &nbsp;&nbsp;&nbsp;
  <button title="Select" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" style="margin-bottom: 4px;height: 28px;width: 28px;min-width: 28px;" onclick="$('#select').dialog('open')">
    <span style="font-size: 18px">S</span>
  </button>
  <button title="Join" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" style="margin-bottom: 4px;height: 28px;width: 28px;min-width: 28px;" onclick="$('#djoin').dialog('open')">
    <span style="font-size: 18px">J</span>
  </button>
  <button title="Where" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" style="margin-bottom: 4px;height: 28px;width: 28px;min-width: 28px;" onclick="$('#where').dialog('open')">
    <span style="font-size: 18px">W</span>
  </button>
  <button title="Group" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" style="margin-bottom: 4px;height: 28px;width: 28px;min-width: 28px;" onclick="$('#dgroup').dialog('open')">
    <span style="font-size: 18px">G</span>
  </button>
  <button title="Having" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" style="margin-bottom: 4px;height: 28px;width: 28px;min-width: 28px;" onclick="$('#having').dialog('open')">
    <span style="font-size: 18px">H</span>
  </button>
  <button title="Order" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" style="margin-bottom: 4px;height: 28px;width: 28px;min-width: 28px;" onclick="$('#dorder').dialog('open')">
    <span style="font-size: 18px">O</span>
  </button>
  &nbsp;&nbsp;&nbsp;
  <button title="Grabar" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" style="margin-bottom: 4px;height: 28px;width: 28px;min-width: 28px;" onclick="abrirInforme = false;$('#grabar').dialog('open')">
    <i class="gi-img-button material-icons">save</i>
  </button>
  <button title="Imprimir" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" style="margin-bottom: 4px;height: 28px;width: 28px;min-width: 28px;" onclick="giPrint()">
    <i class="gi-img-button material-icons">print</i>
  </button>
  &nbsp;&nbsp;&nbsp;
  <button title="Ayuda" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" style="margin-bottom: 4px;height: 28px;width: 28px;min-width: 28px;" onclick="$('#help').dialog('open')">
    <i class="gi-img-button material-icons">help</i>
  </button>
</div>

<div id="tree_campos"></div>

<div id="prop-celdas" style="display: none; padding: 0">
  <table style="width: 100%">
    <col width="80px">
    <tr><td class="subtit"><label for="campo">Campo:</label></td> <td><textarea rows="1" id="campo" class="i_cmp admite_campo admite_lim1 admite_sel admite_for"></textarea></td></tr>
    <tr><td class="subtit"><label for="alias">Alias:</label></td> <td><input id="alias" class="i_cmp"/></td></tr>
    <tr><td class="subtit"><label for="estilo">Estilo:</label></td> <td><select id="estilo" class="i_cmp"></select></td></tr>
    <tr><td class="subtit"><label for="colspan">Cols. extra:</label></td> <td><input id="colspan" class="i_cmp" type="number" min="0"/></td></tr>
    <tr><td class="subtit"><label for="rowspan">Filas extra:</label></td> <td><input id="rowspan" class="i_cmp" type="number" min="0"/></td></tr>
    <tr><td class="subtit"><label for="charxlin">Caracteres/Línea:</label></td> <td><input id="charxlin" class="i_cmp" type="number" min="0"/></td></tr>
    <tr>
      <td class="subtit"><label for="tipo">Tipo:</label></td>
      <td>
        <select id="tipo" class="i_cmp">
          <option value="">Auto</option>
          <option value="string">Cadena</option>
          <option value="integer">Entero</option>
          <option value="float">Decimal</option>
          <option value="date">Fecha</option>
          <option value="time">Hora</option>
          <option value="boolean">Booleano</option>
        </select>
      </td>
    </tr>
  </table>
</div>

<div id="rupturas" style="display: none; padding: 0">
  <table id="t_rup" style="width: 100%">
    <tr><td class="subtit">Campo</td> <td class="subtit" style="text-align: center">Salto</td></tr>
  </table>
</div>

<div id="bandas" style="display: none;">
  <div id="tool_ban" class="ui-widget-header ui-corner-all">
    &nbsp;
    <button id="swp_w" class="b_banda">Mover a la izquierda</button>
    <button id="swp_e" class="b_banda">Mover a la derecha</button>
    <button id="swp_n" class="b_banda">Mover arriba</button>
    <button id="swp_s" class="b_banda">Mover abajo fila</button>
    <button id="add_cw" class="b_banda">Añadir columna a la izquierda</button>
    <button id="add_ce" class="b_banda">Añadir columna a la derecha</button>
    <button id="add_rn" class="b_banda">Añadir fila por arriba</button>
    <button id="add_rs" class="b_banda">Añadir fila por abajo</button>
    <button id="del_r" class="b_banda">Borrar fila</button>
    <button id="del_c" class="b_banda">Borrar columna</button>
    <button id="add_rup" title="Añadir bandas de ruptura">R+</button>
    <button id="del_rup" title="Borrar bandas de ruptura " class="b_banda">R-</button>
    <button id="add_busu" title="Añadir banda de usuario">B+</button>
  </div>
  <p class="tit_band tit ui-widget-header ui-corner-all"> Cabecera </p>
  <table id="t_cab" class="t_banda"> <tbody></tbody> </table>
  <p id="tt_det" class="tit_band tit ui-widget-header ui-corner-all"> Detalle </p>
  <table id="t_det" class="t_banda"> <tbody></tbody> </table>
  <p class="tit_band tit ui-widget-header ui-corner-all"> Pie </p>
  <table id="t_pie" class="t_banda"> <tbody></tbody> </table>
</div>

<div id="config" title="Configuración" style="padding: 0;display: none">
  <table id="t_config">
    <col width="150px">
    <tr><td class="subtit"><label for="descripcion">Descripción:</label></td> <td><input id="descripcion" class="i_cmp"/></td></tr>
    <tr><td class="subtit"><label for="comentario">Comentario:</label></td> <td><input id="comentario" class="i_cmp"/></td></tr>
    <tr><td class="subtit"><label for="filt_emej">Filtrar empresa:</label></td> <td><input type="checkbox" checked id="filt_emej" class="i_cmp" style="width: auto"/></td></tr>
    <tr><td class="subtit"><label for="fuente">Fichero ruby:</label></td> <td><input id="fuente" class="i_cmp"/></td></tr>
    <tr><td class="subtit"><label for="detalle_cond">Ocultar detalle if...:</label></td> <td><input id="detalle_cond" class="admite_campo admite_sel admite_for admite_lim1 i_cmp"/></td></tr>
    <tr><td class="tit" colspan="2">ASPECTO</td></tr>
    <tr><td class="subtit"><label for="pingrid">Pintar Rejilla:</label></td> <td><input type="checkbox" id="pingrid" class="i_cmp" style="width: auto"/></td></tr>
    <tr><td class="subtit"><label for="tit_i">Título izquierda:</label></td> <td><input id="tit_i" class="i_cmp"/></td></tr>
    <tr><td class="subtit"><label for="tit_c">Título centro:</label></td> <td><input id="tit_c" class="i_cmp"/></td></tr>
    <tr><td class="subtit"><label for="tit_d">Título derecha:</label></td> <td><input id="tit_d" class="i_cmp"/></td></tr>
    <tr><td class="subtit"><label for="pie_i">Pie izquierda:</label></td> <td><input id="pie_i" class="i_cmp"/></td></tr>
    <tr><td class="subtit"><label for="pie_c">Pie centro:</label></td> <td><input id="pie_c" class="i_cmp"/></td></tr>
    <tr><td class="subtit"><label for="pie_d">Pie derecha:</label></td> <td><input id="pie_d" class="i_cmp"/></td></tr>
    <tr><td class="subtit"><label for="page_setup">Config. Página:</label></td> <td><textarea id="page_setup" class="i_cmp">paper_width: '210mm', paper_height: '297mm', fit_to_width: 1, fit_to_height: 0</textarea></td></tr>
    <tr><td class="subtit"><label for="col_widths">Ancho columnas:</label></td> <td><input id="col_widths" class="i_cmp"/></td></tr>
    <tr><td class="subtit"><label for="row_height">Altura filas:</label></td> <td><input type="number" min=1 id="row_height" class="i_cmp"/></td></tr>
    <tr><td class="subtit"><label for="page_margins">Márgenes:</label></td> <td><textarea id="page_margins" class="i_cmp">left: 0.39, right: 0.39, bottom: 0.39</textarea></td></tr>
    <tr><td class="subtit"><label for="print_options">Opciones de impresión:</label></td> <td><textarea id="print_options" class="i_cmp"></textarea></td></tr>
    <tr><td class="subtit"><label for="linxpag">Líneas/Página:</label></td> <td><input type="number" min=1 id="linxpag" class="i_cmp" onchange="linXPag()"/></td></tr>
    <tr><td class="subtit"><label for="cab_din">Cabecera dinámica:</label></td> <td><input type="checkbox" id="cab_din" class="i_cmp" style="width: auto" onchange="linXPag()"/></td></tr>
    <tr><td class="subtit"><label for="cab_din_pdf">Cab. din. Sólo en PDF:</label></td> <td><input type="checkbox" id="cab_din_pdf" class="i_cmp" style="width: auto"/></td></tr>
    <tr><td class="subtit"><label for="no_salto_last_rup">No saltar en última ruptura:</label></td> <td><input type="checkbox" id="no_salto_last_rup" class="i_cmp" style="width: auto"/></td></tr>
  </table>
</div>

<div id="lim" title="Límites" style="padding: 0;display: none">
  <div class="ui-widget-header ui-corner-all">
    <button id="b_add_lim">Añadir límite</button>
    <button id="b_del_lim">Borrar límite</button>
  </div>

  <table id="t_lim">
    <col width="90px">
    <tr class="subtit">
      <td class="subtit">Alias</td>
      <td class="subtit">Propiedades</td>
    </tr>
  </table>
</div>

<div id="asist_lim" title="Asistente de límites" style="padding: 0;display: none">
  <table id="t_asist_lim">
    <col width="130">
    <tr><td class="subtit"><label for="asist_lim_ref">Campo referencia:</label></td> <td><input id="asist_lim_ref" class="i_cmp admite_campo"/></td></tr>
    <tr><td class="subtit"><label for="asist_lim_alias">Alias:</label></td> <td><input id="asist_lim_alias" class="i_cmp"/></td></tr>
    <tr><td class="subtit"><label for="asist_lim_pk">Tratar como PK:</label></td> <td><input id="asist_lim_pk" type="checkbox" checked/></td></tr>
    <tr><td class="subtit"><label for="asist_lim_label">Generar etiqueta:</label></td> <td><input id="asist_lim_label" type="checkbox" checked/></td></tr>
    <tr>
      <td class="subtit"><label for="asist_lim_cond">Tipo condición:</label></td>
      <td><select id="asist_lim_cond" class='i_cmp'>
        <option value='eq'>Igual</option>
        <option value='dh'>Desde/Hasta</option>
        <option value='ge'>Desde</option>
        <option value='le'>Hasta</option>
        <option value='lk'>Contenido</option>
        <option value='rg'>Rango</option>
      </select></td>
    </tr>
    <tr>
      <td class="subtit"><label for="asist_lim_wh">Cláusula:</label></td>
      <td><select id="asist_lim_wh" class='i_cmp'>
        <option value='wh'>Where</option>
        <option value='ha'>Having</option>
        <option value='no'>Ninguna</option>
      </select></td>
    </tr>
  </table>
</div>

<div id="estilos" title="Estilos" style="padding: 0;display: none">
  <div class="ui-widget-header ui-corner-all">
    <button id="b_add_estilo">Añadir estilo</button>
    <button id="b_del_estilo">Borrar estilo</button>
  </div>

  <table id="t_estilos">
    <col width="10%">
    <col width="90%">
    <tr class="subtit">
      <td class="subtit">Nombre</td>
      <td class="subtit">Propiedades</td>
    </tr>
  </table>
</div>

<div id="formulas" title="Fórmulas" style="padding: 0; display: none">
  <div class="ui-widget-header ui-corner-all">
    <button id="b_add_formula">Añadir fórmula</button>
    <button id="b_del_formula">Borrar fórmula</button>
  </div>

  <table id="t_formulas">
    <col width="40px">
    <tr class="subtit">
      <td class="subtit">Alias</td>
      <td class="subtit">Fórmula</td>
    </tr>
  </table>
</div>

<div id="select" title="Select" style="padding: 0; display: none">
  <div class="ui-widget-header ui-corner-all">
    <button id="b_add_select">Añadir columna</button>
    <button id="b_del_select">Borrar columna</button>
  </div>

  <table id="t_select">
    <col width="40px">
    <tr class="subtit">
      <td class="subtit">Alias</td>
      <td class="subtit">Columna</td>
    </tr>
  </table>
</div>

<div id="where" title="Where" style="padding: 0; display: none">
  <div class="ui-widget-header ui-corner-all">
    <button id="b_add_where">Añadir condición</button>
    <button id="b_del_where">Borrar condición</button>
  </div>

  <table id="t_where">
    <col width="70px">
    <tr class="subtit">
      <td class="subtit">Referencia</td>
      <td class="subtit">Condición</td>
    </tr>
  </table>
</div>

<div id="dorder" title="Order" style="padding: 0; display: none">
  <textarea id="order" rows="4" class="i_cmp admite_campo"></textarea>
</div>

<div id="dgroup" title="Group" style="padding: 0; display: none">
  <textarea id="group" rows="4" class="i_cmp admite_campo"></textarea>
</div>

<div id="having" title="Having" style="padding: 0; display: none">
  <div class="ui-widget-header ui-corner-all">
    <button id="b_add_having">Añadir condición</button>
    <button id="b_del_having">Borrar condición</button>
  </div>

  <table id="t_having">
    <col width="70px">
    <tr class="subtit">
      <td class="subtit">Referencia</td>
      <td class="subtit">Condición</td>
    </tr>
  </table>
</div>

<div id="djoin" title="Join" style="padding: 0; display: none">
  <textarea id="join" rows="4" class="i_cmp admite_campo"></textarea>
</div>

<div id="grabar" title="Grabar" style="padding: 0;display: none">
  <table id="t_grabar">
    <col width="70px">
    <tr>
      <td class="subtit"><label for="filename">Archivo:</label></td>
      <td><input id="filename" class="i_cmp"/></td>
    </tr>
    <tr>
      <td class="subtit"><label for="destino">Destino:</label></td>
      <td>
        <select id="destino" class="i_cmp">
          <% @forms.each do |k, _| %>
            <option value="<%= k %>"><%= nt(k) %></option>
          <% end %>
        </select>
      </td>
    </tr>
  </table>
</div>

<div id="banda_usu" title="Banda de usuario" style="padding: 5;display: none">
  <label for="banda_usu_name">Nombre: </label>
  <input id="banda_usu_name" style="width:100%;"/>
</div>

<div id="help" title="Ayuda" style="display: none">
  <div class="tit"> Config. Página (Hash. Valores separados por comas) </div>
  orientation: :landscape<br>
  paper_width: "210mm"<br>
  paper_height: "297mm"<br>
  fit_to_width: n (n es el nº de páginas al que queremos ajustar la anchura)<br>
  fit_to_height: m (m es el nº de páginas al que queremos ajustar la altura)<br>
  &nbsp;&nbsp;&nbsp;Si se especifica algún fit_to, hay que especificar el otro. Si su valor vale 0 es auto.<br>

  <div class="tit">Ancho columnas</div>
  Lista de valores separados por comas indicando la anchura en caracteres<br>
  de cada columna. El valor 0 (cero) se usará para ancho automático<br>

  <div class="tit">Márgenes (Hash. Valores separados por comas)</div>
  left: xx.xx<br>
  right: xx.xx<br>
  top: xx.xx<br>
  bottom: xx.xx<br>
  header: x.xx<br>
  footer: xx.xx<br>
  Los números (xx.xx) son con decimales e indican pulgadas.

  <div class="tit">Opciones de impresión (Hash. Valores separados por comas)</div>
  horizontal_centered: true|false<br>
  vertical_centered: true|false<br>
  grid_lines: true|false<br>
  &nbsp;&nbsp;&nbsp;Por defecto todas valen false.

  <div class="tit">Títulos y pies de página</div>
  <pre>
&E              Activa o desactiva la impresión en subrayado doble.
&X              Activa o desactiva la impresión en superíndice.
&Y              Activa o desactiva la impresión en subíndice.
&B              Activa o desactiva la impresión en negrita.
&I              Activa o desactiva la impresión en cursiva.
&U              Activa o desactiva la impresión en subrayado.
&S              Activa o desactiva la impresión en tachado.
&"nombrefuente" Imprime los caracteres que siguen en la fuente especificada.
                Asegúrese de incluir comillas dobles.
&nn             Imprime los caracteres que siguen en el tamaño de fuente especificado.
                Use un número de dos dígitos para especificar un tamaño en puntos.
&color          Imprime los caracteres en el color especificado.
                El usuario proporciona un valor de color hexadecimal.
&Kxx.Syyy       Imprime los caracteres que siguen en el color especificado del tema actual.
                xx es un número de dos dígitos del 1 al 12 que especifica el color del tema
                que se va a usar. Snnn especifica la sombra (el tono) de ese color de tema.
                Especifique S como + para producir una sombra más clara;
                especifique S como - para producir una sombra más oscura.
                nnn es un número entero de tres dígitos indicando un porcentaje de 0 a 100.
                Si los valores que especifican el color o la sombra del tema no están en
                los límites descritos, Excel usará el valor válido más cercano.
&D              Imprime la fecha actual.
&T              Imprime la hora actual.
&P              Imprime el número de página.
&P+número       Imprime el número de página más el número especificado.
&P-número       Imprime el número de página menos el número especificado.
&&              Imprime una sola Y comercial.
&N              Imprime el número total de páginas en el documento.
--------------------------------------------------------------------
#j  Código del ejercicio
#J  Nombre del ejercicio
#e  Código de la empresa
#E  Nombre de la empresa

  </pre>
</div>

<script>
  var modulo = '<%= @modulo %>';
  var fileName = '<%= @formato %>';
  var formato = <%= @form.to_json.html_safe %>;
  var modelo = '<%= @modelo %>';
  var allFiles = <%= @forms.to_json.html_safe %>;
  var titMain = "<%= nt('gi') %>"
</script>
