<div id="titulo">
  <%= @titulo %>
  <% if @modo == 'edit' %>
    &nbsp;&nbsp;&nbsp;
    <button title="Nuevo formato" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" style="margin-bottom: 4px;height: 28px;width: 28px;min-width: 28px;" onclick="window.location.href='/gi/new'">
      <i class="gi-img-button material-icons">add</i>
    </button>
  <% end %>
</div>

<div id="solapas">
  <ul>
    <% @forms.each_key do |mod| %>
      <li><a href="#<%= mod %>"> <%= nt(mod) %> </a></li>
    <% end %>
  </ul>

  <% @forms.each do |mod, forms| %>
    <div id="<%= mod %>">
      <table>
        <thead>
          <tr>
            <td>Formato</td>
            <td>Modelo</td>
            <td>Descripción</td>
            <td>Comentario</td>
          </tr>
        </thead>
        <% forms.each do |form| %>
          <tr>
            <td class="formato"><%= form[0] %></td>
            <td><%= form[1] %></td>
            <td><%= form[2] %></td>
            <td><%= form[3] %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>

<script>
  $(".formato").on("click", function() {window.open('/gi/<%= @modo %>/' + $(this).parentsUntil('#solapas').last().attr('id') + '/' + $(this).text(), '_self');});
  $("#solapas").tabs();
</script>
