<div id="titulo">
  <%= @titulo %>
  <% if @modo == 'edit' %>
    &nbsp;&nbsp;&nbsp;
    <button title="Nuevo informe" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" style="margin-bottom: 4px;height: 28px;width: 28px;min-width: 28px;" onclick="window.location.href='/gi/new'">
      <i class="material-icons">add</i>
    </button>
    &nbsp;&nbsp;
    <button title="Ayuda" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" style="margin-bottom: 4px;height: 28px;width: 28px;min-width: 28px;" onclick="$('#ayuda').dialog('open')">
      <i class="material-icons">help</i>
    </button>
  <% end %>
</div>

<div id="solapas" style="display: none">
  <ul>
    <% @forms.each_key do |mod| %>
      <li><a href="#<%= mod %>"> <%= nt(mod) %> </a></li>
    <% end %>
  </ul>

  <% @forms.each do |mod, forms| %>
    <div id="<%= mod %>">
      <table>
        <thead>
          <tr>
            <td>Informe</td>
            <td>Modelo</td>
            <td>Descripción</td>
            <td>Comentario</td>
          </tr>
        </thead>
        <% forms.each do |form| %>
          <tr>
            <td class="formato"><%= form[0] %></td>
            <td><%= form[1] %></td>
            <td><%= form[2] %></td>
            <td><%= form[3] %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>

<div id="ayuda" style="display: none">
  <ul>
    <li>Haga click izquierdo sobre el nombre de un informe para editarlo</li>
    <li>Haga click derecho sobre el nombre de un informe para eliminarlo</li>
  </ul>
</div>
<div id="borrar" style="display: none"></div>

<script>
  modo = "<%= @modo %>";
</script>
