<div id="titulo">
  <%= @titulo %>
</div>

<div id="solapas">
  <ul>
    <% @tablas.each_key do |mod| %>
      <li><a href="#<%= mod %>"> <%= nt(mod) %> </a></li>
    <% end %>
  </ul>

  <% @tablas.each do |mod, tab| %>
    <div id="<%= mod %>" style="overflow-y: auto">
      <table>
        <thead>
        <tr>
          <td>Modelo</td>
          <td>Descripción</td>
        </tr>
        </thead>
        <% tab.each do |t| %>
          <tr>
            <td class="modelo"><%= t %></td>
            <td><%= nt(t) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>

<script>
  $(".modelo").on("click", function() {
    window.open('/gi/new/' + $(this).text(), '_self');
  });

  $("#solapas").tabs();
</script>
