<div id="titulo" class="mm-fixed-top">
  <a id="a-menu" href="#nim-menu" style="margin-left: 12px;"><i class="material-icons" style="margin-top: 12px;">menu</i></a>

  <label style="font-size: 20px; margin-left: 15px;"> <%= nt('hola_nimbus') %> </label>

  <div class="nim-group div-head" style="width: 250px">
    <input class="nim-input" id="empresa" required size="20" style="max-width: 20em"/>
    <label class="nim-label-fix" for="empresa"> <%= nt('empresa') %> </label>
  </div>

  <div id="d-ejercicio" class="nim-group div-head" style="width: 200px;visibility:hidden">
    <input class="nim-input" id="ejercicio" required size="16" style="max-width: 16em"/>
    <label class="nim-label-fix" for="ejercicio"> <%= nt('ejercicio') %> </label>
  </div>

  <div class="div-head">
    <a id="a-usuario" target="_blank" href="/usuarios/<%= @usu.id %>/edit" style="font-size: 20px">
      <%= @usu.codigo %>
      <img <%= nim_path_image('Usuario', @usu.id, :foto).html_safe %> height="40" style="margin: 0 6px">
      <%= @usu.nombre %>
    </a>
    <div class="d-icon-cab">
      <% if Nimbus::Config[:noticias] %>
      <span id="nim-noticias" title="Notificaciones" class="material-icons mdl-badge mdl-badge--overlap icon-cab">notifications</span>
      <% end %>
      <span id="nim-logout" title="Cerrar sesión" class="material-icons icon-cab cerrar-sesion">power_settings_new</span>
    </div>
  </div>
</div>

<nav id="nim-menu">
  <ul>
    <%= @menu.html_safe %>

<!--
    <li class="menu-ref"><a href="/usuarios/<%= session[:uid] %>/edit"><%= nt('preferencias') %></a></li>
-->
    <hr>
    <li class="nim-wide"><span>Panel</span><ul>
      <li class="nim-wide">
        <span><label for="actPan">Activar panel</label></span>
        <input id="actPan" type="checkbox" class="Toggle"/>
      </li>
      <li class="nim-wide">
        <span><label for="addFav">Añadir como favorito</label></span>
        <input id="addFav" type="checkbox" class="Toggle"/>
      </li>
      <li class="nim-wide">
        <span><label for="ampHor">Ampliar horizontal</label></span>
        <input id="ampHor" type="checkbox" class="Toggle"/>
      </li>
      <hr>
      <li id="bAddToPanel" class="nim-wide"><a href="#">Añadir URL</a></li>
      <li id="bAddContenedor" class="nim-wide"><a href="#">Añadir carpeta</a></li>
      <hr>
      <li id="bSave" class="nim-wide"><a href="#">Guardar panel</a></li>
    </ul></li>
    <li class="cerrar-sesion"><a href="#">Cerrar sesión</a></li>
  </ul>
</nav>

<div id="div-body"><div id="bg-img"></div></div>

<div id="context-menu" class="nim-context-menu">
  <ul class="nim-context-menu-ul">
    <li id="act-desact-panel" class="nim-context-menu-li"><i class="material-icons nim-context-menu-icon"></i><span></span></li>
    <li id="fav-win" class="nim-context-menu-li"><i class="material-icons nim-context-menu-icon"></i><span></span></li>
    <li id="hor-ver" class="nim-context-menu-li"><i class="material-icons nim-context-menu-icon"></i><span></span></li>
    <li id="add-url" class="nim-context-menu-li"><i class="material-icons nim-context-menu-icon">link</i>Añadir URL</li>
    <li id="add-cont" class="nim-context-menu-li"><i class="material-icons nim-context-menu-icon">folder_open</i>Añadir carpeta</li>
    <li id="save-panel" class="nim-context-menu-li"><i class="material-icons nim-context-menu-icon">save</i>Guardar panel</li>
    <li id="li-opacidad" class="nim-context-menu-li"><i class="material-icons nim-context-menu-icon">visibility</i><input id="opacidad" type="range" nmin="0" max="1" step="0.01"></li>
  </ul>
</div>

<script>
  usu_id = <%= @usu.id %>;
  cookieEmEj = "<%= Nimbus::CookieEmEj %>";
  _vista = <%= @v.id %>;
  _controlador = 'welcome';
  empresa_id = <%= @usu.empresa_def_id.to_json %>;
  ejercicio_id = <%= @usu.ejercicio_def_id.to_json %>;
  empresa_nom = "<%= @usu.empresa_def_id ? @usu.empresa_def.auto_comp_value(:grid) : ''%>";
  ejercicio_nom = "<%= @usu.ejercicio_def_id ? @usu.ejercicio_def.auto_comp_value(:grid) : '' %>";
  panel = <%= raw @panel ? @panel : {} %>;
  numEjer = <%= Ejercicio.where('empresa_id = ?', @usu.empresa_def_id).count %>
  daysLeft = <%= @days_left.to_json %>;
  nimNoticias = <%= Nimbus::Config[:noticias].to_json %>
  <% if (img = nim_path_image('Tema', @usu.pref[:tema_id], :fondo_menu)).present? %>
    bgImg = "<%= img[5..-2].html_safe %>";
  <% else %>
    bgImg = null;
  <% end %>
  <%= @ajax.html_safe %>
</script>
