<div id="titulo" class="mm-fixed-top">
  <a id="a-menu" href="#nim-menu" style="margin-left: 12px;"><i class="material-icons" style="margin-top: 12px;">menu</i></a>

    <label style="font-size: 20px; margin-left: 15px;"> <%= nt('hola_nimbus') %> </label>

  <div class="nim-group div-head" style="width: 250px">
    <input class="nim-input" id="empresa" required size="20" style="max-width: 20em"/>
    <label class="nim-label-fix" for="empresa"> <%= nt('empresa') %> </label>
  </div>

  <div id="d-ejercicio" class="nim-group div-head" style="width: 200px;visibility:hidden">
    <input class="nim-input" id="ejercicio" required size="16" style="max-width: 16em"/>
    <label class="nim-label-fix" for="ejercicio"> <%= nt('ejercicio') %> </label>
  </div>

  <div class="div-head">
    <a id="a-usuario" target="_blank" href="/usuarios/<%= @usu.id %>/edit">
      <label style="font-size: 20px"><%= @usu.codigo %></label>
      <img id="foto" src="/admin.jpg" width="32" height="32" border="0" style="margin-left: 8px">
    </a>
  </div>
</div>

<nav id="nim-menu">
  <ul>
    <%= @menu.html_safe %>

    <li class="menu-ref"><a href="/usuarios/<%= session[:uid] %>/edit"><%= nt('preferencias') %></a></li>
    <li class="nim-wide">
      <span>Activar panel</span>
      <input id="actPan" type="checkbox" class="Toggle"/>
    </li>
    <li class="nim-wide">
      <span>Ampliar horizontal</span>
      <input id="ampHor" type="checkbox" class="Toggle"/>
    </li>
    <li id="bAddToPanel" class="nim-wide"><a href="#">Añadir a panel</a></li>
    <li id="bSave" class="nim-wide"><a href="#">Guardar panel</a></li>
    <li id="bCerrar"><a href="#">Cerrar sesión</a></li>
  </ul>
</nav>

<div id="div-body">
</div>

<style>
  html, body {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #fff;
  }

  #titulo {
    background: #673AB7;
    color: #ffffff;
    width: 100%;
    height: 60px;
    /*line-height: 40px;*/
    z-index: 1;
    /*vertical-align: middle;*/
    white-space: nowrap;
  }

  .div-head {
    display: inline-block;
    margin-left: 15px;
  }

  @media screen and (max-width: 670px) {
    #titulo {
      height: 100%;
      white-space: normal;
    }
    .div-head {
      display: block;
      margin-top: 60px;
    }
  }

  .nim-input {
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 8px;
  }

  #ejercicio {
    margin-right: 100px;
  }

  #a-usuario:link {
    text-decoration: none;
  }
  #a-usuario {
    outline-style: none;
    color: #ffffff
  }

  #a-menu {
    outline-style: none;
    color: #ffffff
  }

  #div-body {
    padding-top: 60px;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #D1C4E9;
  }

  .base {
    border: 1px solid #a5a5a5;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    /*background: linear-gradient(gainsboro, gray);*/
    background-color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
  }

  .div-titulo {
    font-size: 0.65em;
    margin: 0px;
    padding: 2px;
  }

  .res-tit {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
  }
</style>

<script>
  //$("#nim-menu").mmenu({classes: "mm-slide"});
  $("#nim-menu").mmenu({onClick: {close: false}, searchfield: true});

  $("#bAddToPanel").click(function (e) {
    var url = prompt('URL:');
    if (url != null) creaWin(url);
  });

  $("#bSave").click(function (e) {
    e.preventDefault();
    //h = {wMenu: wMenu, win: []};
    h = {win: []};
    $(".base").each(function () {
      w = $(this);
      id = w.attr("id").slice(1);
      i = h.win.push({});
      wh = h.win[i - 1];
      wh.top = w.css("top");
      wh.left = w.css("left");
      wh.width = w.css("width");
      wh.height = w.css("height");
      wh.zi = w.css("z-index");
      wh.zoom = w.css("zoom");
      wh.vtit = $("#t" + id).css("display");
      wh.src = $("#f" + id).attr("src");
    });

    $.ajax({
      url: '/pref_user',
      type: 'POST',
      data: {pref: "panel", data: JSON.stringify(h)}
    });
  });

  $("#bCerrar").click(function (e) {
    e.preventDefault();
    $.ajax({
      url: '/logout',
      type: 'GET',
      success: function () {
        window.location.replace('/');
      }
    });
  });

  $("#a-menu").click(function (e) {
    //noticias();
    if ($(window).width() < 670)
      $(".nim-wide").css("display", "none");
    else
      $(".nim-wide").css("display", "block");
  });

  $(".menu-ref").click(function (e) {
    e.preventDefault();
    s = $(this)[0].innerHTML;
    ih = s.indexOf('href') + 6;
    s = s.slice(ih);
    url = s.slice(0, s.indexOf('"'));
    set_cookie_emej();
    if ($("#actPan").is(":checked")) {
      creaWin(url);
    } else {
      w = window.open(url, "_blank", "location=no, menubar=no, status=no, toolbar=no" +
        ",height=800, width=1000" +
        ",left=" + (window.screenX + 10) +
        ",top=" + (window.screenY + 10)
      );
    }
  });

  function allFrames(e, factor) {
    e.children().each(function () {
      if ($(this).is('iframe'))
        myZoom($(this), factor);
      else if ($(this).is('div'))
        allFrames($(this), factor);
    });
  }

  function myZoom(fr, factor) {
    var b = fr.contents().find("body");

    // Zoom con 'transform' (Mozilla)
    var t = b.css("-moz-transform");
    if (typeof t != "undefined" && t.startsWith("matrix")) {
      var z = parseFloat(t.slice(t.indexOf('(') + 1)) + 0.1 * factor;
    } else {
      var z = 1 + 0.1 * factor;
    }
    var ofs = Math.round(250 * (z - 1));
    var matrix = "matrix(" + z + ",0,0," + z + "," + ofs + "," + ofs + ")";
    b.css("-moz-transform", matrix);

    // Zoom con 'zoom' (Resto de navegadores)
    z = b.css('zoom');
    if (z == "normal") z = 1;
    b.css('zoom', parseFloat(z) + 0.1 * factor);

    allFrames(b, factor);
  }

  function fonStartDrag(e, ui) {
    //$(ui.helper).children('iframe').css("display", "none");
    $("iframe").css("display", "none");
  }

  function fonStopDrag(e, ui) {
    //$(ui.helper).children('iframe').css("display", "block");
    $("iframe").css("display", "block");
    ajustaWin();
  }

  function fonDrag(e, ui) {
    //$("#div-body").css("width", "2000px");
  }

  var nPan = 0;
  var propWin = {w: 500, h: 500};

  function calculaPosWin() {
    var ll, lr, t, l, r, b;

    var posWin = {left: 0, top: 60};
    var bt = 999999;
    while (true) {
      ll = 999999;
      $(".base").each(function () {
        t = parseInt($(this).css("top"));
        l = parseInt($(this).css("left"));
        r = l + parseInt($(this).css("width")) - 1;
        b = t + parseInt($(this).css("height")) - 1;
        if (t >= posWin.top + propWin.h || b < posWin.top || l >= posWin.left + propWin.w || r < posWin.left) return(posWin);
        if (l < ll) {
          ll = l;
          lr = r;
        }
        if (b < bt) bt = b;
      });
      var wr = posWin.left + propWin.w;
      if (ll == 999999) {
        if (wr > $(window).width() && !$("#ampHor").is(":checked")) {
          posWin.left = 0;
          posWin.top = bt + 1;
          bt = 999999;
        } else
          break;
      } else
        posWin.left = lr + 1;
    }
    return(posWin)
  }

  function creaWin(url, prop) {
    if (prop == undefined) {
      var p = calculaPosWin();
      prop = {top: p.top, left: p.left, width: propWin.w, height: propWin.h, zi: npan, vtit: 'block', zoom: 1}
    }

    var did = "d" + nPan;
    var fid = "f" + nPan;
    var tid = "t" + nPan;
    $("<div class='base' id='" + did + "'>").
      appendTo($("#div-body")).
      draggable({snap: true, handle: "div", containment: "parent", scroll: true, start: fonStartDrag, stop: fonStopDrag, drag: fonDrag}).
      resizable({containment: "parent", handles: "n, e, s, w, se", autoHide: true, start: fonStartDrag, stop: fonStopDrag}).
      css('left', prop.left).
      css('top', prop.top).
      css('width', prop.width).
      css('height', prop.height).
      css('z-index', prop.zi).
      append(
        '<div id="rt' + nPan + '" class="res-tit"></div>' +
        '<div id="' + tid + '" class="div-titulo ui-widget-header" style="display:' + prop.vtit + '">' +
        '<button id="bzm' + nPan + '" onclick="myZoom($(\'#' + fid + '\'), -1)">Zoom -</button>' +
        '<button id="bzp' + nPan + '" onclick="myZoom($(\'#' + fid + '\'), +1)">Zoom +</button>' +
        '<button id="brl' + nPan + '" onclick="$(\'#' + fid + '\').attr(\'src\', function(i,v){return v;})">Recargar contenido</button>' +
        '<button id="bht' + nPan + '" onclick="$(\'#' + tid + '\').css(\'display\', \'none\')">Ocultar título</button>' +
        '<button id="brm' + nPan + '" onclick="$(\'#' + did + '\').remove()">Cerrar</button>' +
        '</div>' +
        '<iframe id="' + fid + '" class="ficha" src=' + url + '></iframe>'
    );

    $("#bzm" + nPan).button({icons: {primary: "ui-icon-zoomout"}, text: false});
    $("#bzp" + nPan).button({icons: {primary: "ui-icon-zoomin"}, text: false});
    $("#brl" + nPan).button({icons: {primary: "ui-icon-refresh"}, text: false});
    $("#bht" + nPan).button({icons: {primary: "ui-icon-arrow-n"}, text: false});
    $("#brm" + nPan).button({icons: {primary: "ui-icon-closethick"}, text: false});

    ajustaWin();
    nPan += 1;
  }

  $("#div-body").on("mouseenter", ".res-tit", function () {
    id = $(this).attr("id").slice(2);
    $("#t" + id).css("display", "block");
  });

  $("#div-body").on("click", ".base", function () {
    zmax = -1;
    $(".base").each(function () {
      z = $(this).css("z-index");
      if (z > zmax) {
        zmax = z;
        obj = $(this);
      }
    });

    z = $(this).css("z-index");
    obj.css("z-index", z);
    $(this).css("z-index", zmax);
  });

  function ajustaWin() {
    wmax = hmax = 0;
    $(".base").each(function () {
      wm = parseInt($(this).css("left")) + parseInt($(this).css("width"));
      if (wm > wmax) wmax = wm;
      hm = parseInt($(this).css("top")) + parseInt($(this).css("height"));
      if (hm > hmax) hmax = hm;
    });

    for (i = 0; i < 2; i++) {
      w = Math.max(wmax, $(window).width());
      h = Math.max(hmax, $(window).height());

      $("#div-body").css("height", h + "px");
      $("#div-body").css("width", w + "px");
    }
  }

  $(window).resize(ajustaWin);

  // Tratamiento de la selección de empresa

  var empresa_id = null;
  var empresa_nom = "";
  var ejercicio_id = null;
  var ejercicio_nom = "";

  function session_out() {
    clearTimeout(tmo);
    alert("<%= nt('no_session') %>");
    window.location.replace('/');
  }

  function well_auto_comp_error(e, ui) {
    if (typeof(ui.content) != "undefined" && typeof(ui.content[0]) != "undefined" && ui.content[0].error == 1) {
      session_out();
    }
  }

  function graba_emej() {
    $.ajax({
      url: '/usuarios/validar_cell',
      type: 'POST',
      data: {nocallback: true, id: <%= @usu.id %>, empresa_def_id: empresa_id}
    });

    $.ajax({
      url: '/usuarios/validar_cell',
      type: 'POST',
      data: {nocallback: true, id: <%= @usu.id %>, ejercicio_def_id: ejercicio_id}
    });
  }

  function set_cookie_emej() {
    document.cookie = "emej=" + empresa_id + ":" + ejercicio_id;
  }

  $("#empresa" ).blur(function() {
    $(this).val(empresa_nom);
  });

  $("#ejercicio" ).blur(function() {
    $(this).val(ejercicio_nom);
  });

  $("#empresa").autocomplete({
    source: '/application/auto?type=grid&mod=Empresa',
    minLength: 1,
    select: function(e, ui) {
      empresa_id = ui.item.id;
      empresa_nom = ui.item.value;

      ejercicio_id = null;
      ejercicio_nom = "";
      $("#ejercicio").val('').autocomplete("option", "source", '/application/auto?type=grid&mod=Ejercicio&wh=empresa_id=' + empresa_id);

      // Consultar si tiene ejercicios la empresa para habilitar el campo ejercicio (lo hace la función del servidor en su respuesta)
      $.ajax({
        url: '/empresas/fon_server',
        type: "POST",
        data: {fon: 'ejercicio_en_menu', eid: empresa_id},
      })

      graba_emej();
      set_cookie_emej();
    },
    response: function(e, ui){well_auto_comp_error(e, ui);}
  });

  $("#ejercicio").autocomplete({
    source: '/application/auto?type=grid&mod=Ejercicio&wh=empresa_id=null',
    minLength: 1,
    select: function(e, ui){
      ejercicio_id = ui.item.id;
      ejercicio_nom = ui.item.value;
      graba_emej();
      set_cookie_emej();
    },
    response: function(e, ui){well_auto_comp_error(e, ui);}
  });

  // Funciones para comprobar periódicamente noticias del servidor
  function noticias() {
    $.ajax({
      url: '/noticias',
      type: 'POST'
    });
  }

  var tmo;

  function noticiass() {
    noticias();
    tmo = setTimeout("noticiass()", 30000);
  }

  //tmo = setTimeout("noticiass()", 30000);

  // Inicialización de los campos empresa y ejercicio
  empresa_id = <%= @usu.empresa_def_id.to_json %>;
  ejercicio_id = <%= @usu.ejercicio_def_id.to_json %>;
  empresa_nom = "<%= @usu.empresa_def_id ? @usu.empresa_def.auto_comp_value(:grid) : ''%>";
  $("#empresa").val(empresa_nom);
  ejercicio_nom = "<%= @usu.ejercicio_def_id ? @usu.ejercicio_def.auto_comp_value(:grid) : '' %>";
  $("#ejercicio").val(ejercicio_nom);
  $("#ejercicio").autocomplete("option", "source", '/application/auto?type=grid&mod=Ejercicio&wh=empresa_id=' + empresa_id);

  <% if Ejercicio.where('empresa_id = ?', @usu.empresa_def_id).count > 0 %>
    $("#d-ejercicio").css("visibility", "visible");
  <% end %>

  set_cookie_emej();

  var panel = <%= raw @panel %>;

  for (i in panel.win) {
    creaWin(panel.win[i].src, panel.win[i]);
  }
</script>

</body>
</html>
