<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @titulo.nil? ? 'Nimbus' : @titulo %></title>
  <%= stylesheet_link_tag    "application", *@assets_stylesheets, media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", 'ficha', *@assets_javascripts, "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <% if @head > 0 || @tabs.size > 0 %>
  <header class="mdl-layout__header">
    <% if @head > 0 %>
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title"> <%= @titulo %> </span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
          <button title="Grabar (Alt-g)" class="cl-grabar mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" onclick="mant_grabar()">
            <i class="material-icons"><%= @es_un_mant ? 'save' : 'done' %></i>
          </button>
          <% if @es_un_mant %>
            &nbsp; &nbsp;
            <button title="Eliminar" class="cl-borrar mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" onclick="mant_borrar()">
              <i class="material-icons">delete</i>
            </button>
            <% end %>
          <% if @menu_r.size > 0 %>
            &nbsp; &nbsp;
            <button id="menu-r" class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">more_vert</i>
            </button>

            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-r">
              <%  @menu_r.each_with_index {|m, i| %>
                <% m[:id] ||= '_mr_'+i.to_s %>
                <% if m[:id].starts_with?('tag_') %>
                  <%= m[:label].html_safe %>
                <% else %>
                  <% if m[:upload] %>
                    <li id="<%= m[:id] %>" class="mdl-menu__item menu-r-user<%= m[:dis_ro] ? ' dis-ro' : '' %>" onclick="<%= "$('##{m[:upload]}').trigger('click')".html_safe %>"> <%= m[:label] %> </li>
                  <% else %>
                    <li id="<%= m[:id] %>" class="mdl-menu__item menu-r-user<%= m[:dis_ro] ? ' dis-ro' : '' %>" onclick="liFon(this, '<%= m[:accion] %>', '<%= m[:tipo] %>', '<%= m[:side] %>')"> <%= m[:label] %> </li>
                  <% end %>
                <% end %>
              <% } %>
            </ul>
          <% end %>
        </nav>
      </div>
    <% end %>

    <% if @tabs.size > 0 %>
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <% @tabs.each_with_index {|t, i| %>
          <a id="h_<%= t %>" href="#t_<%= t %>" class="mdl-layout__tab <%= i==0 ? 'is-active' : '' %>" onclick="tabClick($('#t_<%= t %>'))"> <%= nt(t) %> </a>
        <% } %>
      </div>
    <% end %>
  </header>
  <% end %>

  <% if @head > 0 && (@es_un_mant || @menu_l.size > 0) %>
    <div class="mdl-layout__drawer">
      <nav class="mdl-navigation">
        <% if @es_un_mant %>
          <a class="mdl-navigation__link" href="#" onclick="historico()">Histórico</a>
          <hr>
        <% end %>
        <% if @menu_l.size > 0 %>
          <% @menu_l.each_with_index {|m, i| %>
            <% m[:id] ||= '_ml_'+i.to_s %>
            <% if m[:id].starts_with?('tag_') %>
              <%= m[:label].html_safe %>
            <% else %>
              <a id="<%= m[:id] %>" class="mdl-navigation__link" href="<%= m[:url] %>" target="_blank"> <%= nt(m[:label]) %> </a>
            <% end %>
          <% } %>
        <% end %>
      </nav>
    </div>
  <% end %>

  <main class="mdl-layout__content">
    <div class="page-content nim-div-tab" style="visibility: hidden">
      <%= gen_form({tab: 'pre'}) %>
      <%= yield :pre %>

      <% if @tabs.size > 0 %>
        <% @tabs.each_with_index {|t, i| %>
          <section class="mdl-layout__tab-panel <%= i==0 ? 'is-active' : '' %>" id="t_<%= t %>">
            <div class="page-content">
              <%= gen_form({tab: t}) %>
              <%= yield t.to_sym%>
              <% @hijos.each_with_index{|h, i| if h[:tab] == t then %>
                <iframe id="hijo_<%= i %>"></iframe>
              <% end } %>
            </div>
          </section>
        <% } %>
      <% end %>

      <%= gen_form({tab: 'post'}) %>
      <% @hijos.each_with_index{|h, i| if h[:tab] == 'post' then %>
        <iframe id="hijo_<%= i %>"></iframe>
      <% end } %>

      <%= yield %>
    </div>
  </main>
</div>

<%= yield :body %>

<% @dialogos.each {|d| %>
  <div id="<%= d[:id] %>" style="display: none">
    <%= gen_form({dlg: d[:id]}) %>
  </div>
<% } %>

<div id="dialog-borrar" title="Borrado" style="display: none">
  <p>
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
    El registro será eliminado.<br>¿Está seguro?
  </p>
</div>

</body>

<style>
  body {margin-top: 0px;}
  .mdl-grid {padding: 0;}
  .mdl-layout__content::-webkit-scrollbar {display: none;}
</style>

<script>
  <% if @es_un_mant %>
    _pkCmps = "<%= @fact.class.superclass.pk.map{|k| '#' + k}.join(',')%>";
    _factId = <%= @fact.id.to_json %>;
  <% else %>
    _pkCmps = null;
  <% end %>

  function redimWindow() {
    var f, wh = $(window).height();
    <% @hijos.each_with_index{|h, i| %>
      <% unless h[:height] %>
        f=$("#hijo_<%= i %>");f.height(wh-f.offset().top);
      <% end %>
    <% } %>
  }

  <% @dialogos.each {|d| %>
  $("#<%= d[:id] %>" ).dialog({
    autoOpen: false,
    resizable: false,
    width: "<%= d[:width] ? d[:width] : '100%' %>",
    height: "<%= d[:height] ? d[:height] : 'auto' %>",
    modal: true,
    title: "<%= d[:titulo] %>",
    buttons: {
      <% d[:botones].to_a.each {|b| %>
      "<%= b[:label] %>": function () {
        $(this).find(".ui-jqgrid-btable").jqGrid('editCell', 0, 0, false);
        <% if b[:busy] %>
        ponBusy();
        <% end %>
        callFonServer("<%= b[:accion] %>", {}, quitaBusy);
        <%= (b[:close].nil? or b[:close]) ? '$(this).dialog("close");'.html_safe : '' %>
      },
      <% } %>
    }
  });
  <% } %>

  <%= gen_js %>
  <%= (@ajax + @ajax_post).html_safe %>
  nimOnTabs = <%= @on_tabs.to_json.html_safe %>;
</script>

</html>