<!DOCTYPE html>
<html>
<head>
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @titulo.nil? ? 'Nimbus' : @titulo %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= yield :before %>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title grid-title"> <%= @titulo %> </span>
    <label class="mdl-button mdl-js-button mdl-button--icon" id="_pk-label" onclick="pkSearch()">
      <i class="material-icons">search</i>
    </label>
    <input id="_pk-input" style="margin-left: 5px;outline: none;padding-left: 4px" />
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
      <button class="nim-hbut mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored only-grid" onclick="searchBar()">
        <i class="material-icons">visibility</i>
      </button>
      &nbsp; &nbsp;
      <button class="nim-hbut mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored only-grid" onclick="editInForm()">
        <i class="material-icons">edit</i>
      </button>
      &nbsp; &nbsp;
      <button class="nim-hbut mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" onclick="newFicha()">
        <i class="material-icons">add</i>
      </button>
      &nbsp; &nbsp;
      <button class="cl-grabar nim-hbut mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" disabled onclick="mantGrabarGrid()">
        <i class="material-icons">save</i>
      </button>
      &nbsp; &nbsp;
      <button class="cl-borrar nim-hbut mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" disabled onclick="mantBorrarGrid()">
        <i class="material-icons">delete</i>
      </button>
      &nbsp; &nbsp; &nbsp; &nbsp;
      <button id="b-collapse" onclick="gridCollapse()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">swap_vert</i>
      </button>
      <button id="menu-r" class="nim-phone mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-r">
        <li class="nim-phone mdl-menu__item only-grid" onclick="liFon(this, searchBar)"> <i class="material-icons">visibility</i> Buscar </li>
        <li class="nim-phone mdl-menu__item only-grid" onclick="liFon(this, editInForm)"> <i class="material-icons">edit</i> Editar </li>
        <li class="nim-phone mdl-menu__item" onclick="newFicha()"> <i class="material-icons">add</i> Nueva </li>
        <li class="cl-grabar nim-phone mdl-menu__item" disabled onclick="liFon(this, mantGrabarGrid)"> <i class="material-icons">save</i> Grabar </li>
        <li class="cl-borrar nim-phone mdl-menu__item" disabled onclick="liFon(this, mantBorrarGrid)"> <i class="material-icons">delete</i> Eliminar </li>
        <% if @view[:menu_r].size > 0 %>
          <hr class="nim-phone">
          <%  @view[:menu_r].each_with_index {|m, i| %>
            <% m[:id] ||= '_mr_'+i.to_s %>
            <% if m[:id].starts_with?('tag_') %>
              <%= m[:label].html_safe %>
            <% else %>
              <li id="<%= m[:id] %>" class="mdl-menu__item" onclick="liFon(this, '<%= m[:accion] %>', '<%= m[:tipo] %>')"> <%= m[:label] %> </li>
            <% end %>
          <% } %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
  <div class="mdl-layout__drawer">
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#" onclick="grid_historico()">Histórico</a>
      <% if @view[:menu_l].size > 0 %>
        <hr>
        <% @view[:menu_l].each {|m| %>
          <a class="mdl-navigation__link" href="<%= m[:url] %>" target="_blank"> <%= nt(m[:label]) %> </a>
        <% } %>
      <% end %>
    </nav>
  </div>

<main class="mdl-layout__content">
  <div class="page-content">
    <div class="mdl-grid">
      <%=
         gr = '<div id="cell-grid" class="mdl-cell'
         fi = '<div id="cell-ficha" class="mdl-cell'
         c = @view[:grid][:gcols][0]
         gr << ' mdl-cell--' + c.to_s + '-col'
         fi << ' mdl-cell--' + (c >= 12 ? 12 : 12-c).to_s + '-col'
         c = @view[:grid][:gcols][1]
         gr << ' mdl-cell--' + c.to_s + '-col-tablet'
         fi << ' mdl-cell--' + (c >= 8 ? 8 : 8-c).to_s + '-col-tablet'
         c = @view[:grid][:gcols][2]
         gr << ' mdl-cell--' + c.to_s + '-col-phone'
         fi << ' mdl-cell--' + (c >= 4 ? 4 : 4-c).to_s + '-col-phone'
         gr << '"><table id="grid"></table></div>'
         fi << '"><iframe id="ficha" class="ficha"> </iframe></div>'

         ((@view[:grid][:ew] == :w) ? gr + fi : fi + gr).html_safe
      %>
    </div>
  </div>
</main>

<%= yield %>

</div>

<style>
  /*.ui-search-menu {z-index: 1500;}*/
  .mdl-cell {margin: 1px;}
  #gbox_grid {height: auto;}

  .mdl-grid {padding: 0;}
  .mdl-layout__content::-webkit-scrollbar {display: none;}

  .nim-phone {
    display: none;
  }

  @media screen and (min-width: 600px) {
  }
  @media screen and (max-width: 599px) {
    .nim-hbut {
      display: none;
    }
    .nim-phone {
      display: block;
    }
  }

  #_pk-input {
    display: none;
    background-color: #D1C4E9;
    border-radius: 10px;
    width: 15em;
  }

  #_pk-input:focus {
    display: block;
  }
</style>

<script>
	grid = $("#grid");
	toolgrid = '#grid_toppager';

	var vgrid = grid.jqGrid({
    colModel: <%= raw @view[:col_model] %>,
    datatype: "json",
    mtype: 'POST',
    sortname: '<%= @view[:grid][:sortname] %>',
    sortorder: '<%= @view[:grid][:sortorder] %>',
    url:'<%= @view[:url_list].html_safe %>',
    cellurl:'<%= @view[:url_cell].html_safe %>',
    beforeProcessing: jqg_before_processing,
    beforeEditCell: jqg_before_edit_cell,
    beforeSubmitCell: jqg_before_submit_cell,
    afterSubmitCell: jqg_after_submit_cell,
    afterSaveCell: jqg_after_save_cell,

		height: <%= @view[:grid][:height] %>,
    height_def: <%= @view[:grid][:height] %>,
		rowNum: <%= @view[:grid][:rowNum] %>,

		cellEdit: <%= @view[:grid][:cellEdit] %>,
		gridview: true,

    toppager: <%= !@view[:grid][:scroll] %>,
		rowList:[10,20,30,50,100,500,1000],
		altRows: true,
		sortable: true,
		viewrecords: true,

		ondblClickRow: editInForm,

    shrinkToFit: <%= @view[:grid][:shrinkToFit] %>,
		multiSort: <%= @view[:grid][:multiSort] %>,
    scroll: <%= @view[:grid][:scroll] %>
	});

	grid.jqGrid('gridResize', {handles: "s", minHeight: 80});
  grid.jqGrid('bindKeys');
	grid.jqGrid('filterToolbar', {stringResult: true, searchOperators: true}); vgrid[0].toggleToolbar();

  /*
  grid.jqGrid('navGrid', toolgrid, {edit: false, add: false, del: true}, {}, {}, {}, {multipleSearch: true, multipleGroup: true, showQuery: true});
	grid.jqGrid('navButtonAdd', toolgrid, {caption:"",title:"Barra de búsqueda", buttonicon :'ui-icon-pin-s', onClickButton:function(){vgrid[0].toggleToolbar()}});
	grid.jqGrid('navButtonAdd', toolgrid, {caption:"",title:"Formulario", buttonicon :'ui-icon-carat-2-n-s', onClickButton: editInForm});
	grid.jqGrid('navButtonAdd', toolgrid, {caption:"",title:"Nueva Alta", buttonicon :'ui-icon-plus', onClickButton: newFicha});
	*/

  <%= @ajax.html_safe %>

  function editInLine() {
    id = grid.jqGrid('getGridParam','selrow');
    if (id != null)
      grid.jqGrid('editRow', id, true);
    else
      alert("Seleccione un registro");
  }

  function searchBar() {vgrid[0].toggleToolbar();}

  function editInForm(id) {
    if (id)
      grid.jqGrid('setSelection', id);
    else
      id = grid.jqGrid('getGridParam', 'selrow');

    if (id != null) {
      $("#ficha").attr('src', '<%= @view[:url_base] %>' + id + '/edit' + '<%= @view[:arg_edit] %>');
    } else
      alert("Seleccione un registro");
  }

  function newFicha() {
    $("#ficha").attr('src', '<%= @view[:url_new] %>');
  }

/*
  $("#ficha").load(function() {
    h = this.contentWindow._altura;
    if (h == undefined) h = this.contentWindow.document.body.offsetHeight + 100 + 'px';
    $(this).parent().css("height", h);
     w = this.contentWindow._anchura;
     if (w == undefined) w = "400px"
     $(this).parent().css("width", w);
    //$(this).css("height", $("#ficha").contents().find('.mdl-layout__content')[0].scrollHeight + 130 + "px");
  });
*/
  function grid_historico() {
    $("#ficha")[0].contentWindow.historico();
  }

  function grid_reload() {
    grid.trigger('reloadGrid', [{current:true}]);
  }

  function liFon(li, fon, tipo) {
    if ($(li).attr("disabled") == "disabled") return;
    if (typeof fon == 'function')
      fon.call();
    else if (tipo == 'dlg')
      $("#ficha")[0].contentWindow.abreDialogo(fon);
    else
      $("#ficha")[0].contentWindow.callFonServer(fon);
  }

  // Mostrar/Ocultar el grid

  var classFicha, displayGrid = true;

 // $("#b-collapse").click(function() {gridCollapse();});

  function gridCollapse() {
    if (displayGrid) {
      $("#cell-grid").css('display', 'none');
      $(".only-grid").attr("disabled", true)
      classFicha = $("#cell-ficha").attr('class');
      $("#cell-ficha").attr('class', 'mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-cell--12-col');
      displayGrid = false;
    } else {
      $("#cell-grid").css('display', 'block');
      $(".only-grid").attr("disabled", false)
      $("#cell-ficha").attr('class', classFicha);
      displayGrid = true;
      $("#ficha").height(0);
    }
    redimWindow();
  }

  function gridHide() {
    if (displayGrid) gridCollapse();
  }
  function gridShow() {
    if (!displayGrid) gridCollapse();
  }

  // Activar menú derecho si existe
  <% if @view[:menu_r].size > 0 %>
    $("#menu-r").css("display", "block");
  <% end %>

  // Recalcular la anchura y altura del grid cuando se redimensione la ventana

  //$("#ficha").css("height", $(window).height() - $("#ficha").offset().top - 40);
  function redimWindow() {
    tf = $("#cell-ficha").offset().top;
    if (displayGrid) {
      grid.setGridWidth($("#gbox_grid").parent().width()-2, grid.jqGrid('getGridParam', 'shrinkToFit'));
      tg = $("#cell-grid").offset().top;
      if (tg == tf) {
        h = $(window).height() - tf - 35;
        $("#ficha").css("height", h);
        grid.setGridHeight(h);
        $("#gbox_grid").css("height", 'auto');
      } else {
        h = $(window).height() / 2;
        hgn = hg = $("#cell-grid").height();
        if (hg < 40 || hg > h) hgn = grid.jqGrid('getGridParam', 'height_def');
        if (hgn > h) hgn = h

        //if ($("#cell-grid").height() > h) {
        if (hgn != hg) {
          grid.setGridHeight(hgn);
          $("#gbox_grid").css("height", 'auto');
        }
        $("#ficha").css("height", $(window).height() - (tg>tf ? tf : 40) - $("#cell-grid").height() - 40);
      }
    } else {
      $("#ficha").css("height", $(window).height() - tf - 10);
    }
  }

  function mantGrabarGrid() {
    $("#ficha")[0].contentWindow.mant_grabar();
  }

  function mantBorrarGrid() {
    $("#ficha")[0].contentWindow.mant_borrar();
  }

  function pkSearch() {
    $(".mdl-navigation").css('display', 'none');
    if ($(window).width() <= 600) $(".grid-title").css('display', 'none');
    $("#_pk-label").css('display', 'none');
    $("#_pk-input").css('display', 'block').val('').focus();
  }

  $("#_pk-label").contextmenu(function(e) {
    e.preventDefault();
    callFonServer("bus_call_pk");
  });

  function pkBlur() {
    $("#_pk-input").css('display', 'none');
    $(".grid-title").css('display', 'block');
    $("#_pk-label").css('display', 'block');
    $(".mdl-navigation").css('display', 'flex');
  }

  $("#_pk-input").blur(pkBlur).autocomplete({
    source: "/application/auto?mod=<%= (@view[:model] + @view[:arg_auto]).html_safe %>",
    minLength: 1,
    autoFocus: true,
    select: function(e, ui){
      $("#ficha").attr('src', '<%= @view[:url_base] %>' + ui.item.id + '/edit' + '<%= @view[:arg_edit] %>');
      pkBlur();
    }
    //change: function(e, ui){vali_auto_comp(ui, $(this));},
    //response: function(e, ui){auto_comp_error(e, ui);}
  });

  //$(".ui-pg-input").height(14); // Para que salga de la altura correcta el input del número de página del grid
  $(window).resize(redimWindow);

  $("#ficha").attr('src', '<%= @view[:url_base] %>0/edit' + '<%= @view[:arg_edit] %>');
  var eid = "<%= @view[:eid] %>";
  var jid = "<%= @view[:jid] %>";
  <% if @view[:grid][:visible] %>
    redimWindow();
  <% else %>
    gridCollapse();
  <% end %>
</script>

<%= yield :after %>

<div id="dialog-nim-alert" style="display: none"></div>

<script>
  $("#dialog-nim-alert").dialog({
    autoOpen: false,
    resizable: false,
    modal: true,
    width: "auto",
    buttons: {
      "Aceptar": function() {
        $(this).dialog("close");
      }
    }
  });
</script>

</body>
</html>
