<!DOCTYPE html>
<html>
<head>
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @titulo.nil? ? 'Nimbus' : @titulo %></title>
  <%= stylesheet_link_tag    "application", 'grid', *@assets_stylesheets, media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", 'grid', *@assets_javascripts, "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= yield :before %>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title grid-title"> <%= @titulo %> </span>
    <label title="Búsqueda (Alt-b)" class="mdl-button mdl-js-button mdl-button--icon" id="_pk-label" onclick="pkSearch()">
      <i class="material-icons">search</i>
    </label>
    <input id="_pk-input" style="margin-left: 5px;outline: none;padding-left: 4px" />
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
      <button title="Mostrar/Ocultar filtros (Alt-f)" class="nim-hbut mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored only-grid" onclick="searchBar()">
        <i class="material-icons">filter_list</i>
      </button>
      &nbsp; &nbsp;
      <button title="Edita el registro seleccionado" class="cl-editar nim-hbut mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored only-grid" onclick="editInForm()">
        <i class="material-icons">edit</i>
      </button>
      &nbsp; &nbsp;
      <button title="Nueva alta (Alt-n)" class="cl-crear nim-hbut mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" onclick="newFicha()">
        <i class="material-icons">add</i>
      </button>
      &nbsp; &nbsp;
      <button title="Grabar (Alt-g / Alt-a graba + nueva alta)" class="cl-grabar nim-hbut mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" disabled onclick="mantGrabarGrid()">
        <i class="material-icons">save</i>
      </button>
      &nbsp; &nbsp;
      <button title="Eliminar" class="cl-borrar nim-hbut mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored" disabled onclick="mantBorrarGrid()">
        <i class="material-icons">delete</i>
      </button>
      <% if Nimbus::Config[:osp] %>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <button title="Documentos asociados (Alt-d)" id="b-osp" disabled onclick="ospGrid()" class="cl-osp nim-hbut mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
          <i class="material-icons">attach_file</i>
        </button>
      <% end %>
      &nbsp; &nbsp; &nbsp; &nbsp;
      <button title="Muestra/Oculta rejilla de datos (Alt-v)" id="b-collapse" onclick="gridCollapse()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">swap_vert</i>
      </button>
      <button id="menu-r" class="nim-phone mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-r">
        <li class="nim-phone mdl-menu__item only-grid" onclick="liFon(this, searchBar)"> <i class="material-icons">visibility</i> Buscar </li>
        <li class="cl-editar nim-phone mdl-menu__item only-grid" onclick="liFon(this, editInForm)"> <i class="material-icons">edit</i> Editar </li>
        <li class="cl-crear nim-phone mdl-menu__item" onclick="newFicha()"> <i class="material-icons">add</i> Nueva </li>
        <li class="cl-grabar nim-phone mdl-menu__item" disabled onclick="liFon(this, mantGrabarGrid)"> <i class="material-icons">save</i> Grabar </li>
        <li class="cl-borrar nim-phone mdl-menu__item" disabled onclick="liFon(this, mantBorrarGrid)"> <i class="material-icons">delete</i> Eliminar </li>
        <% if Nimbus::Config[:osp] %>
          <li class="cl-osp nim-phone mdl-menu__item" disabled onclick="liFon(this, ospGrid)"> <i class="material-icons">attach_file</i> Documentos </li>
        <% end %>
        <% if @view[:menu_r].size > 0 %>
          <hr class="nim-phone">
          <%  @view[:menu_r].each_with_index {|m, i| %>
            <% m[:id] ||= '_mr_'+i.to_s %>
            <% if m[:id].starts_with?('tag_') %>
              <%= m[:label].html_safe %>
            <% else %>
              <% if m[:upload] %>
                <li id="<%= m[:id] %>" class="mdl-menu__item" onclick="<%= "$('##{m[:upload]}',frames['ficha'].contentDocument).trigger('click')".html_safe %>"> <%= m[:label] %> </li>
              <% else %>
                <li id="<%= m[:id] %>" class="mdl-menu__item" onclick="liFon(this, '<%= m[:accion] %>', '<%= m[:tipo] %>', '<%= m[:side] %>')"> <%= m[:label] %> </li>
              <% end %>
            <% end %>
          <% } %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
  <div class="mdl-layout__drawer">
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" style="cursor: pointer" onclick="grid_historico()">Histórico del registro</a>
      <a class="mdl-navigation__link" style="cursor: pointer" onclick="callFonServer('histo_borrados')">Histórico de borrados</a>
      <% if @view[:menu_l].size > 0 %>
        <hr>
        <% @view[:menu_l].each_with_index {|m, i| %>
          <% m[:id] ||= '_ml_'+i.to_s %>
          <% if m[:id].starts_with?('tag_') %>
            <%= m[:label].html_safe %>
          <% else %>
            <a id="<%= m[:id] %>" class="mdl-navigation__link" href="<%= m[:url] %>" target="_blank"> <%= nt(m[:label]) %> </a>
          <% end %>
        <% } %>
      <% end %>
    </nav>
  </div>

<main class="mdl-layout__content">
  <div class="page-content">
    <div class="mdl-grid">
      <%=
         gr = '<div id="cell-grid" class="mdl-cell'
         fi = '<div id="cell-ficha" class="mdl-cell'
         c = @view[:grid][:gcols][0]
         gr << ' mdl-cell--' + c.to_s + '-col'
         fi << ' mdl-cell--' + (c >= 12 ? 12 : 12-c).to_s + '-col'
         c = @view[:grid][:gcols][1]
         gr << ' mdl-cell--' + c.to_s + '-col-tablet'
         fi << ' mdl-cell--' + (c >= 8 ? 8 : 8-c).to_s + '-col-tablet'
         c = @view[:grid][:gcols][2]
         gr << ' mdl-cell--' + c.to_s + '-col-phone'
         fi << ' mdl-cell--' + (c >= 4 ? 4 : 4-c).to_s + '-col-phone'
         gr << '"><table id="grid"></table></div>'
         fi << '"><iframe id="ficha" class="ficha"> </iframe></div>'

         ((@view[:grid][:ew] == :w) ? gr + fi : fi + gr).html_safe
      %>
    </div>
  </div>
</main>

<%= yield %>

</div>

<%= yield :after %>

<script>
  varView = <%= raw @view.to_json %>
  <%= (@ajax + @ajax_post).html_safe %>
</script>

</body>
</html>
