<!DOCTYPE html>
<html>
<head>
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @titulo.nil? ? 'Nimbus' : @titulo %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", 'histo', "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= yield :before %>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title grid-title"> <%= @titulo %> </span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
      <button class="nim-hbut mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored only-grid" onclick="searchBar()">
        <i class="material-icons">visibility</i>
      </button>
      &nbsp; &nbsp;
      <button class="nim-hbut mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored only-grid" onclick="editInForm()">
        <i class="material-icons">edit</i>
      </button>
      &nbsp; &nbsp; &nbsp; &nbsp;
      <button id="b-collapse" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">swap_vert</i>
      </button>
    </nav>
  </div>
</header>

<main class="mdl-layout__content">
  <div class="page-content">
    <div class="mdl-grid">
      <div id="cell-grid" class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--4-col-phone">
        <table id="grid"></table>
      </div>
      <div id="cell-ficha" class="mdl-cell mdl-cell--9-col mdl-cell--5-col-tablet mdl-cell--4-col-phone">
        <iframe id="ficha" class="ficha"> </iframe>
      </div>
    </div>
  </div>
</main>
</div>

<style>
  .ui-search-menu {z-index: 1500};
  .mdl-cell {margin: 1px;}
  .mdl-grid {padding: 0;}
  .mdl-layout__content::-webkit-scrollbar {display: none;}
</style>

<script>
  url_list = '<%= @url_list.html_safe %>';
  url_edit = '<%= @url_edit %>';
</script>

<%= yield :after %>

</body>
</html>
