<style>
  html, body {
    height: 100%;
  }

  body {
    display: flex;
  }

  #indice {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
    padding-right: 20px;
    background-color: var(--color-1-2);
    color: var(--color-1-2_f);
    overflow: auto;
  }

  #contenido {
    overflow: auto;
    height: 100vh;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  #indice span {
    cursor: pointer;
  }

  #indice ul li {
    margin-left: -15px;
  }

  .capitulo {
    background-color: var(--color-1);
    color: var(--color-1_f);
  }

  .seccion {
    background-color: var(--color-1-2);
    color: var(--color-1-2_f);
  }

  .metodo {
    color: #000000;
  }

  .descripcion {
    overflow: auto;
    background-color: #f3f3f3;
    padding: 3px;
  }

  dl {
    display: grid;
    grid-template-columns: max-content auto;
  }
  dt {
    grid-column-start: 1;
  }
  dd {
    grid-column-start: 2;
    margin-left: 15px;
  }
  p {
    margin-top: 0;
    margin-bottom: 5px;
  }
  li p:last-child {
    margin-bottom: 0;
  }
  ul {
    margin: 5px 0px;
    padding-left: 35px;
  }

  .hdlist1 {
    vertical-align: top;
    font-weight: 500;
  }
</style>

<div id="indice">
  <ul>
    <% @cap.each_with_index {|c, i| %>
      <li><span destino="c<%= i %>"><%= c[0] %></span>
        <ul>
          <% c[1].each_with_index {|s, j| %>
            <li><span destino="c<%= i %>s<%= j %>"><%= s[0] %></span>
              <ul>
                <% s[1].each_with_index {|m, k| %>
                  <li><span destino="c<%= i %>s<%= j %>m<%= k %>"><%= m[0][0..m[0].index('(').to_i-1] %></span></li>
                <% } %>
              </ul>
            </li>
          <% } %>
        </ul>
      </li>
    <% } %>
  </ul>
</div>

<div id="contenido">
  <% @cap.each_with_index {|c, i| %>
    <div id=c<%= i %> class="capitulo"><h2><%= c[0] %></h2></div>
    <% c[1].each_with_index {|s, j| %>
      <div id=c<%= i %>s<%= j %> class="seccion"><h3><%= s[0] %></h3></div>
      <% s[1].each_with_index {|m, k| %>
        <h4 class="metodo" id=c<%= i %>s<%= j %>m<%= k %>><%= m[0] %></h4>
        <div class="descripcion"><%= m[1].html_safe %></div>
      <% } %>
    <% } %>
  <% } %>
</div>

<script>
  $("#indice").on("click", "span", function() {
    document.getElementById($(this).attr("destino")).scrollIntoView();
  });
</script>