<style>
  #indice {
    position: fixed;
    top: 0;
    bottom: 0;
    padding-right: 20px;
    background-color: #D1C4E9;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #contenido {
    position: absolute;
  }

  .capitulo {
    background-color: #673AB7;
    color: #ffffff;
  }

  .seccion {
    background-color: #D1C4E9;
  }

  .metodo {
    color: #512DA8;
  }
</style>

<div id="indice">
  <ul>
    <% @cap.each_with_index {|c, i| %>
      <li><a href="#c<%= i %>"><%= c[0] %>
        <ul>
          <% c[1].each_with_index {|s, j| %>
            <li><a href="#c<%= i %>s<%= j %>"><%= s[0] %>
              <ul>
                <% s[1].each_with_index {|m, k| %>
                  <li><a href="#c<%= i %>s<%= j %>m<%= k %>"><%= m[0][0..m[0].index('(').to_i-1] %></a></li>
                <% } %>
              </ul>
            </a></li>
          <% } %>
        </ul>
      </a></li>
    <% } %>
  </ul>
</div>

<div id="contenido">
  <% @cap.each_with_index {|c, i| %>
    <div id=c<%= i %> class="capitulo"><h2><%= c[0] %></h2></div>
    <% c[1].each_with_index {|s, j| %>
      <div id=c<%= i %>s<%= j %> class="seccion"><h3><%= s[0] %></h3></div>
      <% s[1].each_with_index {|m, k| %>
        <h4 class="metodo"><%= m[0] %></h4>
        <p id=c<%= i %>s<%= j %>m<%= k %>><%= m[1].html_safe %></p>
      <% } %>
    <% } %>
  <% } %>
</div>

<script>
  $("#contenido").css("left", $("#indice").width()+30+'px');
</script>